<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040962154792-0sh6kbevu6t2kb6qlqsm72nmnhdf1soj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040962154792-0sh6kbevu6t2kb6qlqsm72nmnhdf1soj</string>
	<key>API_KEY</key>
	<string>AIzaSyC3yEeTeLnNuRuZKk4S0sXlk7arbm2Iv8I</string>
	<key>GCM_SENDER_ID</key>
	<string>1040962154792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pocFlutterBloc</string>
	<key>PROJECT_ID</key>
	<string>omarks4</string>
	<key>STORAGE_BUCKET</key>
	<string>omarks4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040962154792:ios:ef6bb79ec07544152ce01d</string>
	<key>DATABASE_URL</key>
	<string>https://omarks4.firebaseio.com</string>
</dict>
</plist>